# Porta do servidor
PORT=3000

# Se estiver usando o MongoDB Atlas (Cloud), substitua a URI abaixo pela sua string de conexão do Atlas.
MONGODB_URI=

# Configuração da API de Destino
EXTERNAL_API_URL=
EXTERNAL_API_KEY=sua-chave-secreta-aqui

# Configurações do Logger
LOG_LEVEL=info

